<!DOCTYPE html>
<html>
<head>

<title>RAYYSE OFFLINE Dashboard</title>

<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">

<style>
#map{
    height:500px;
    width:100%;
}
</style>

</head>

<body>

<h1>RAYYSE OFFLINE - Map</h1>

<div id="map"></div>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<script>

let map = L.map('map').setView([34.5,69.1],6);

L.tileLayer(
'https://tile.openstreetmap.org/{z}/{x}/{y}.png'
).addTo(map);


let locations = {{ locations|tojson }};


locations.forEach(function(loc){

L.marker([
loc.lat,
loc.lng
])
.addTo(map);

});

</script>

</body>
</html>
