*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{

    min-height:100vh;

    background:
    radial-gradient(circle at top,#003b33,#020202 60%);

    color:white;

    display:flex;

    justify-content:center;

    align-items:center;

    overflow:hidden;
}


/* Digital background */

body:before{

    content:"";

    position:fixed;

    inset:0;

    background:
    linear-gradient(
    rgba(0,255,150,.08) 1px,
    transparent 1px
    ),
    linear-gradient(
    90deg,
    rgba(0,255,150,.08) 1px,
    transparent 1px
    );

    background-size:40px 40px;

}


.container{

    position:relative;

    width:90%;

    max-width:500px;

    text-align:center;

}


h1{

    font-size:45px;

    color:#00ff99;

    text-shadow:
    0 0 10px #00ff99,
    0 0 30px #00ff99;

}


.status{

    margin-top:10px;

    color:#00ccff;

}



.card{

    margin-top:25px;

    padding:25px;

    background:
    rgba(255,255,255,.08);

    border:1px solid rgba(0,255,153,.4);

    border-radius:25px;

    backdrop-filter:blur(15px);

    box-shadow:
    0 0 30px rgba(0,255,153,.3);

}



button{

    margin-top:20px;

    padding:16px 35px;

    border:none;

    border-radius:50px;

    background:
    linear-gradient(90deg,#00ff99,#00ccff);

    font-size:18px;

    font-weight:bold;

    cursor:pointer;

    box-shadow:
    0 0 25px #00ff99;

}


button:hover{

    transform:scale(1.08);

}


.location{

    margin-top:15px;

    padding:15px;

    background:#050505;

    border-radius:15px;

    border:1px solid #00ff99;

}
