<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>RAYYSE OFFLINE</title>

<style>
body{
    background:#111;
    color:white;
    font-family:tahoma;
    text-align:center;
    padding-top:100px;
}

.box{
    background:#222;
    padding:30px;
    margin:auto;
    width:80%;
    max-width:400px;
    border-radius:15px;
}

button{
    padding:15px 25px;
    border:0;
    border-radius:10px;
    background:#008cff;
    color:white;
    font-size:18px;
}

#link{
    margin-top:20px;
    word-break:break-all;
}
</style>

</head>

<body>

<div class="box">

<h1>📍 RAYYSE OFFLINE</h1>

<p>ساخت لینک موقعیت</p>

<button onclick="makeLink()">
ساخت لینک
</button>

<div id="link"></div>

</div>


<script>

function makeLink(){

fetch("/create_link")
.then(r=>r.json())
.then(data=>{

document.getElementById("link").innerHTML =
"لینک:<br>" +
window.location.origin + data.link;

})
.catch(()=>{
document.getElementById("link").innerHTML="خطا در ساخت لینک";
});

}

</script>

</body>
</html>
