<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
<meta charset="UTF-8">
<title>Dashboard Map</title>

<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">

<style>
body{
    margin:0;
    font-family:tahoma;
    background:#111;
    color:white;
}

h2{
    text-align:center;
    padding:15px;
}

#map{
    width:100%;
    height:75vh;
}

.info{
    padding:15px;
}
</style>

</head>

<body>

<h2>📍 داشبورد موقعیت‌ها</h2>

<div id="map"></div>

<div class="info">

{% for loc in locations %}

<p>
🔗 لینک: {{loc.id}} <br>
🌍 Latitude: {{loc.lat}} <br>
🌍 Longitude: {{loc.lng}} <br>
⏰ زمان: {{loc.time}}
</p>

<hr>

{% endfor %}

</div>


<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>


<script>

var map = L.map('map').setView([34.5553,69.2075],6);


L.tileLayer(
'https://tile.openstreetmap.org/{z}/{x}/{y}.png',
{
maxZoom:19,
attribution:'© OpenStreetMap'
}
).addTo(map);



{% for loc in locations %}

L.marker([
{{loc.lat}},
{{loc.lng}}
])
.addTo(map)
.bindPopup(
"📍 لینک: {{loc.id}}<br>"+
"⏰ {{loc.time}}"
);


{% endfor %}


</script>


</body>
</html>
